{% extends "aldryn_events/base.html" %}
{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% block title %}
    {{ event.title }} - {{ block.super }}
{% endblock %}


{% block event_content %}
    {% include "aldryn_events/event.html" with detail_view="true" %}

    {% static_placeholder "newsblog_social" %}

    <ul class="pager">
        {% if prev_event %}
            <li><a href="{{ prev_event.get_absolute_url }}">{% trans "Previous event" %}</a></li>
        {% endif %}
        <li><a href="{% namespace_url "event-list" %}">{% trans "Back to Overview" %}</a></li>
        {% if next_event %}
            <li><a href="{{ next_event.get_absolute_url }}">{% trans "Next event" %}</a></li>
        {% endif %}
    </ul>
{% endblock %}