{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<event class="event
    {% if event.is_featured %} featured{% endif %}
    {% if not event.published %} unpublished{% endif %}">

    {% if not detail_view %}
        <div class="event-preview">
            <a href="{% namespace_url 'event-detail' event.slug namespace=namespace default='' %}">
                <h2 class="event-title">
                    {% render_model event "title" "" "" "striptags" %}
                </h2>
                {% if event.lead_in %}
                <h3 class="event-subtitle">
                    {% if not detail_view %}
                        {% render_model event "lead_in" "" "" "truncatewords:'20'|striptags" %}
                    {% else %}
                        {% render_model event "lead_in" "" "" "striptags" %}
                    {% endif %}
                </h3>
                {% endif %}
            </a>
            <p class="event-meta"> 
                {{ event.publishing_date|date:"F n, Y" }}
            </p>
        </div>
        <hr>
    {% endif %}

    {% if detail_view %}
        {% render_placeholder event.content language placeholder_language %}
    {% endif %}
</event>
